@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root{
    --main-radius:5px;
    --main-padding:5px;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 0.3rem;
    font-weight: 800;
    text-align: center;

}

nav{
    font-family: 'Yellowtail', cursive;
    background: black;
    color: whitesmoke;
    font-size: 27px;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

main{
    background: rgb(167, 0, 28);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    grid-area: main;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#sidebar{
    background: rgb(238, 0, 40);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#content1{
    background: rgb(238, 0, 40);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#content2{
    background: rgb(238, 0, 40);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif; 
    grid-area: content2;
    border-radius: var(--main-radius);
    padding: var(--main-padding); 

}

#content3{
    background: rgb(238, 0, 40);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding: var(--main-padding);

}

#footer{
    background: black;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

@media only screen and (max-width: 550px) {
    .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.4fr 2.3fr 1.3fr 1.3fr 1.3fr 1fr;
    grid-template-areas: 
    "nav"
    "sidebar"
    "main"
    "content1"
    "content2"
    "content3"
    "footer";
    }
}


